* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  color: #fff;
  padding: 20px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
  text-transform: capitalize;
}

.header-project {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 500;
}

.form {
  display: grid;
  gap: 17px;
  grid-template: 40px 40px / 1fr 1fr;
  padding: 30px 100px;
}

.form--input {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  font-size: 12px;
  font-weight: 400;
  font-family: "Karls", sans-serif;
  color: #0D0D0D;
}

.form--button {
  grid-column: 1/-1;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  border-width: 0;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0px;
}

.top {
  top: 0px;
}